<h1 class="text-center">Messenger</h1>

<div class="jumbotron text-center">
  <p style="font-weight: bold;">This web application was developed by Ofir Ben Yamin.</p>
  <p>Since it is hosted on a Heroku Server, the entire data will be wiped every few hours as there is no persistent database.</p>
  <p>In order to begin sending and receiving messages, please sign up <a routerLink="/signup">here</a>.</p>
  <hr>
  <p><a routerLink="/compose">Compose</a> - Send messages to other users by their IDs.</p>
  <p><a routerLink="/manage">Manage</a> - View sent and received messages that belong to the currently logged user.</p>
  <p><a routerLink="/usersList">Users List</a> - This is basically an address book. It lists all registered users and their IDs.</p>
  <p><a routerLink="/login">Login</a> - Login to an existing user to begin using the application.</p>
  <p><a routerLink="/signup">Signup</a> - Register as a new user.</p>
  <p><a routerLink="/pagenotfound">Page not found</a> - This page will kindly redirect you here in case you get lost :)</p>
  <hr>
  <p>For any inquiries, please contact me using your preferred method:</p>
  <a href="https://www.linkedin.com/in/ofir-benyamin/" target="_blank"><img id="linkedin" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png"></a>
  <a href="https://github.com/ofir5551" target="_blank"><img id="github" src="https://image.flaticon.com/icons/png/512/25/25231.png"></a>
  <a href="mailto:ofirbenyamin3@gmail.com"> <img id="email" src="https://icons-for-free.com/iconfiles/png/512/email+envelope+inbox+mail+message+send+icon-1320085879987098147.png"> </a>

</div>
