<h1 class="text-center">Compose</h1>
<form [formGroup]="composeEmailForm" (ngSubmit)="onSubmit()">
  <!-- Sender -->
  <input
    class="form-control"
    type="text"
    placeholder="Sender ID"
    formControlName="sender"
    (change)="onChangeInput('sender')"
  />
  <span #senderIdElement style="position:relative"></span>

  <!-- Receiver -->
  <input
    class="form-control"
    type="text"
    placeholder="Receiver ID"
    formControlName="receiver"
    (change)="onChangeInput('receiver')"
  />
  <span #receiverIdElement style="position:relative"></span>

  <!-- Subject -->
  <input
    class="form-control"
    type="text"
    placeholder="Subject"
    formControlName="subject"
  />

  <!-- Message -->
  <textarea
    class="form-control"
    rows="5"
    placeholder="Message"
    formControlName="message"
  ></textarea>

  <!-- Submit button -->
  <div class="text-center">
    <button
      [disabled]="!composeEmailForm.valid"
      type="submit"
      class="btn btn-primary btn-lg"
    >
      Send
    </button>
  </div>
</form>

<div id="success-message" class="alert alert-success" role="alert" *ngIf="sentSuccessfully"> 
  Message sent to {{ receiverUsername }} successfully
</div>
