.btn:focus,
.btn:active {
  box-shadow: none !important;
  outline: 0px !important;
}

textarea {
  resize: none;
}

.btn.btn-primary {
    margin-top: 5%;
    width: 75%;
}

.form-control {
    margin-top: 5%;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.invalidCredentials {
  margin-top: 5%;
}